html{
  /* ont: 14px "Century Gothic", Futura, sans-serif; */
  /* margin: 20px; */
  /* margin: 0; */
    height: 100%;
  background-color: #500050; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #500050, #102030); 
  box-sizing: border-box;
}
body {
  font: 20px Comfortaa, cursive;
  margin: 20px;
  background-color: transparent;
  color: white;

  /* background-color: red; For browsers that do not support gradients */
  /* background-image: linear-gradient(to bottom right, red, yellow); Standard syntax (must be last) */
}
/*
ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
} */
#root{
}
.option{
  background-color: transparent;
  padding: 15px;
  border: solid white 2px;
  color: white;
  border-radius: 4px;
  margin :2px;
}

.option.option-grey, .option.option-grey:hover{
  background-color: #222222;
  background-image: none;
}
.option:hover{
  background-color: #500050;
  background-image: linear-gradient(to bottom right, #990066, #603090); 
}
.answers{
}
.question{
  border: solid white 2px;
  border-radius: 4px;
  padding:10px;
  margin : 5px;
}
.game{
  border: solid white 2px;
  border-radius: 4px;
  padding:10px;
}
.response{
}

.option-row{
  background-color: transparent;

}